[user]
    name = Ruben Nijhuis

[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal

[core]
    excludesFile = ~/.gitignore_global

[gpg]
	program = /opt/homebrew/bin/gpg

[credential]
    helper = osxkeychain

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true
