[user]
    name = Ruben Nijhuis

[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work

[core]
    excludesFile = ~/.gitignore_global

[credential]
    helper = osxkeychain

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true
