[user]
	name = Ruben Nijhuis
	email = contact@rubennijhuis.com
	signingkey = DE4CA08C47F3ED87

[commit]
	gpgsign = true

[core]
	excludesFile = ~/.gitignore_global

[gpg]
	program = /opt/homebrew/bin/gpg

[credential]
	helper = osxkeychain

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true
