name: Maint Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  maint-check:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew install shellcheck

      - name: Run CI doctor checks
        run: make doctor-ci
