name: Maint Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  maint-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck

      - name: Run maintenance checks
        run: make maint-check
